.ErrorList ul {
	list-style: none;
	margin-top: -28px;
	margin-bottom: 16px;
}

.ErrorList li {
	font-size: 14px;
	line-height: 24px;
	padding-left: 24px;
	background: url(Error.svg) no-repeat left 4px;
	background-size: 16px;
}
