.Header {
	background: linear-gradient(270deg, #FF7676 0%, #F54EA2 100%);
	color: #fff;
	display: block;
	height: 80px;
	position: fixed;
	overflow: hidden;
	top: 0;
	width: 100%;
	z-index: 3;
}

.Header .logo {
	padding: 20px 0;
	text-align: center;
}
