.NumberInput {
	margin-bottom: 32px;
}

.NumberInput label {
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	margin-bottom: 6px;
	display: block;
}

.NumberInput input {
	background: #1B1B26;
	padding: 12px 16px;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	border: 0;
	border-radius: 4px;
	border: 1px solid transparent;
	transition: border-color 0.3s ease;
}

.NumberInput input:focus {
	border-color: #fff;
	outline: 0;
}
