.SettingsWheel {
	width: 50px;
	height: 50px;
	background: url(./SettingsWheel.png) no-repeat;
	border: none;
	transition: transform 0.3s ease-in-out;
	transform: scale(1);
}
.SettingsWheel:hover {
	cursor: pointer;
	transform: rotate(90deg);
}
.SettingsWheel:focus {
	transform: scale(1.1);
	outline: 0;
}
.SettingsWheel:active {
	transform: rotate(-45deg);
}

.accessible {
	position: absolute;
	left: -99999px;
}
