.TransactionsList {
	padding: 0 0 32px;
}

.TransactionsList .no-results {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.TransactionsList .no-results p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
	color: white;
	opacity: 0.5;
}
