.SettingsDrawer {
	background: #313045;
	box-sizing: border-box;
	color: #FFFFFF;
	height: 100%;
	padding: 96px 32px 32px;
	position: fixed;
	right: -100%;
	top: 0;
	width: 320px;
	z-index: 2;
}

.SettingsDrawer.is-open {
	animation: bounceInRight forwards 1s;
	right: 0;
}

.SettingsDrawer.is-open + .overlay {
	background: #000000;
	bottom: 0;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	right: 0;
	transition: background 1s;
}

.SettingsDrawer.is-closed {
	animation: bounceOutRight forwards 1s;
	right: 0;
}

.SettingsDrawer.is-closed {
	transition: background 1s;
}

.SettingsDrawer .close-button {
	background: url(./close.png) no-repeat center;
	border: 0;
	height: 30px;
	position: absolute;
	right: 24px;
	text-indent: -9999px;
	top: 40px;
	width: 30px;
}

.SettingsDrawer .close-button:focus {
	outline: 1px solid #000;
}

@keyframes bounceInRight {
	from,
	60%,
	75%,
	90%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	from {
	opacity: 0;
		transform: translate3d(3000px, 0, 0);
	}

	60% {
	opacity: 1;
		transform: translate3d(-25px, 0, 0);
	}

	75% {
		transform: translate3d(10px, 0, 0);
	}

	90% {
		transform: translate3d(-5px, 0, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes bounceOutRight {
	20% {
		opacity: 1;
		transform: translate3d(-20px, 0, 0);
	}

	to {
		opacity: 0;
		transform: translate3d(2000px, 0, 0);
	}
}
