.SettingsDrawer {
	position: fixed;
	top: 0;
	right: -100%;
	width: 300px;
	height: 100%;
	background: #ccc;
	z-index: 2;
}

.SettingsDrawer.is-open {
	animation: bounceInRight forwards 1s;
	right: 0;
}

.SettingsDrawer.is-closed {
	animation: bounceOutRight forwards 1s;
	right: 0;
}

.SettingsDrawer .close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: url(./close.png) no-repeat center;
	border: 0;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
}

.SettingsDrawer .close-button:focus {
	outline: 1px solid #000;
}

@keyframes bounceInRight {
	from,
	60%,
	75%,
	90%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	from {
	opacity: 0;
		transform: translate3d(3000px, 0, 0);
	}

	60% {
	opacity: 1;
		transform: translate3d(-25px, 0, 0);
	}

	75% {
		transform: translate3d(10px, 0, 0);
	}

	90% {
		transform: translate3d(-5px, 0, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes bounceOutRight {
	20% {
		opacity: 1;
		transform: translate3d(-20px, 0, 0);
	}

	to {
		opacity: 0;
		transform: translate3d(2000px, 0, 0);
	}
}
