.DailyTotal {
	border-bottom: 1px solid rgba(255,255,255,0.5);
	color: #FFFFFF;
	font-size: 0.875em;
	left: 0;
	line-height: 1em;
	margin: 0 32px 20px;
	padding: 16px 0;
}

.DailyTotal .total {
	opacity: 0.5;
	float: right;
}
