.DailyTotal {
	padding: 16px 0;
	color: #fff;
	font-size: 0.875em;
    font-weight: bold;
    line-height: 1em;
	border-bottom: 1px solid #fff;
	margin: 0 20px 20px;
}

.DailyTotal .total {
	opacity: 0.5;
	float: right;
}
