.ProgressBar {
	background: #2A293B;
	bottom:0;
	height: 50%;
	left:0;
	position:absolute;
	width:100%;
	z-index: 1;
}

.ProgressBar .wave {
	animation-name: wave;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier( 0.36, 0.45, 0.63, 0.53);
	background: url(./wave.svg) repeat-x;
	background-size: 1600px 30px;
	height: 15px;
	position: absolute;
	top: -14px;
	width: 4096px;
	will-change: animation;
}

.ProgressBar .wave:before,
.ProgressBar .wave:after {
	animation-name: wave;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier( 0.36, 0.45, 0.63, 0.53);
	background: inherit;
	background-size: inherit;
	content: ".";
	height: inherit;
	position: inherit;
	top: 0px;
	transform: translate3d(0, 0, 0);
	width: inherit;
	will-change: animation;
}

.ProgressBar .wave:before {
	animation-delay: 1s;
	opacity: 0.5;
}

.ProgressBar .wave:after {
	animation-delay: 2s;
	opacity: 0.25;
}

@keyframes wave {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-1600px);
	}
}
