.Transaction {
    animation: bounceInRight 1s;
    background: #d5d711;
    padding: 10px 10px 0;
    margin-bottom: 10px;
}

.Transaction dl {
    width: 100%;
    margin: 0;
    position: relative;
}

.Transaction dl:after {
    clear: both;
    content: "";
    display: table;
}

.Transaction dt,
.Transaction dd {
    float: left;
    margin: 0 0 10px;
}

.Transaction dt {
    clear: both;
    margin-right: 10px;
    min-width: 60px;
}


.Transaction dt.time,
.Transaction dt.amount {
    position: absolute;
    left: -9999px;
}

.Transaction dd.amount {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 3em;
    margin: 0;
}

.Transaction dd.time {
    position: absolute;
    right: 0;
    top: 0;
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
