.Transaction {
		align-items: center;
    animation: bounceInRight 1s;
		background: #313045;;
		border-radius: 16px;
		color: #FFFFFF;
		margin-bottom: 8px;
		position: relative;
		overflow: hidden;
}

.Transaction .transactionInner {
		align-items: center;
		display: flex;
		padding: 16px 32px 12px;
}

.Transaction .customerDetails {
		flex: 1;
		width: 100%;
}

.Transaction .time {
    display: inline-block;
		font-size: 0.875em;
		font-weight: bold;
		line-height: 1em;
		opacity: 0.5;
}

.Transaction .from {
		font-size: 1em;
		line-height: 1.5em;
		opacity: 0.5;
}

.Transaction .amount {
		font-size: 1.4375em;
		font-weight: bold;
		line-height: 2em;
}

.Transaction .progressBar {
		background: #43E695;
		border-radius: 0 2px 2px 0;
		display: block;
		height: 4px;
		width: 50%;
}



@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
