.Transaction {
		align-items: center;
    animation: bounceInRight 1s;
		background: transparent;
		border-radius: 16px;
		color: #FFFFFF;
		margin-bottom: 8px;
		position: relative;
		overflow: hidden;
}

.Transaction .transactionInner {
		align-items: center;
		display: flex;
		padding: 16px 32px 12px;
		position: relative;
		z-index: 2;
}

.Transaction .customerDetails {
		flex: 1;
		width: 100%;
}

.Transaction .time {
    display: inline-block;
		font-size: 0.875em;
		font-weight: bold;
		line-height: 1em;
		opacity: 0.5;
}

.Transaction .from {
		font-size: 1em;
		line-height: 1.5em;
		opacity: 0.5;
}

.Transaction .amount {
		font-size: 1.4375em;
		font-weight: bold;
		line-height: 2em;
}

.Transaction .progressBar {
		background: #43E695;
		border-radius: 0 2px 2px 0;
		display: block;
		height: 4px;
		width: 100%;
}

.Transaction .ocean {
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #2A293B;
	z-index: 1;
	height: 50%;
}

.Transaction .wave {
  background: url(./wave.svg) repeat-x;
	background-size: 1600px 30px;
  position: absolute;
  top: -14px;
  width: 6400px;
  height: 15px;
  animation: wave 3s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.Transaction .wave:before {
	background: url(./wave.svg) repeat-x;
	background-size: 1600px 30px;
  position: absolute;
  top: 25px;
	width: 6400px;
  height: 15px;
  animation: wave 2s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.5s infinite, swell 3s ease infinite;
  opacity: 0.75;
	transform: translate3d(0, 0, 0);
	content: ".";
}

.Transaction .wave:after {
	background: url(./wave.svg) repeat-x;
	background-size: 1600px 30px;
  position: absolute;
  top: 25px;
	width: 6400px;
  height: 15px;
  animation: wave 2s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.75s infinite, swell 3s ease -1s infinite;
  opacity: 0.5;
	transform: translate3d(0, 0, 0);
	content: ".";
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
